{% extends 'layout.html' %}

{% block content %}
<form method="POST">

<div class = "pusher">
  <div class = "create_post_container">

    <div class = "post_title_create">
       <h1>title</h1>
      <input name = "title" required = "required">
    </div>

    <div class = "posts_add_container">
      <h1>post content</h1>
      <textarea name = "content" rows="4" cols="50" required = "required" ></textarea>

    </div>

    <div class = "post_submit">
      <input type="submit" formmethod = post>
    </div>
    <a href="/forms"> go back</a>
    {{stat}}
  </div>

</div>

</form>

{% endblock %}
