{% extends 'layout.html' %}

{% block content %}


<div class = "left">

  {% if session['username'] != "guest" %}
    <div class = "user_stats">
      <h1> {{stat[0][2]}} stats </h1>
      {{stat[0][2]}}
      {{stat[0][3]}}
    </div>
  {% endif %}

  {% if session['username'] == "guest" %}
    <div class = "user_stats">
      <h1> stats </h1>
      please login to show stats
    </div>
  {% endif %}

  <div class = "top_posters">
    <h1> most times posted </h1>
    <p>first: {{top_posters[0]}} </p>
    <p>second: {{top_posters[1]}} </p>
    <p>third: {{top_posters[2]}} </p>
    <p>fourth: {{top_posters[3]}} </p>
    <p>fifth: {{top_posters[4]}} </p>
    <p>sixst: {{top_posters[5]}} </p>
    <p>seventh: {{top_posters[6]}} </p>
    <p>eighteh: {{top_posters[7]}} </p>
    <p>ninth: {{top_posters[8]}} </p>
    <p>tenth: {{top_posters[9]}} </p>

  </div>
</div>

<div class = "center">

  <div class = "search_form">
    <form method="POST">
      <input name="search_form">

      <input type = "checkbox" name ="title">
      <label for="title">title</label>


      <input type = "checkbox" name ="content">
      <label for="content"> content</label>

      <button type="submit" >filter</button>

    </form>

  </div>
  <a href="/forms/create"> create a blog</a>


  <div class="posts">


    {% for post in result %}

    <div class = "post_container">
      <div class = "post_title">
        title: {{post[3]}}
      </div>
      <div class = "post_by">
        by {{post[1]}}
      </div>
      <div class = "post_core">
        <p>{{post[2]}}</p>
      </div>
      <div class = "post_votes">
      </div>
      <div class = "post_comments">
      </div>
    </div>

    {% endfor %}

  </div>

</div>


<div class = "right">

  <div class = "top_posts">
    <h1> most liked posts </h1>
    <p>1: {{best_posts[0]}} </p>
    <p>2: {{best_posts[1]}} </p>
    <p>3: {{best_posts[2]}} </p>
    <p>4: {{best_posts[3]}} </p>
    <p>5: {{best_posts[4]}} </p>
    <p>6: {{best_posts[5]}} </p>
    <p>7: {{best_posts[6]}} </p>
    <p>8: {{best_posts[7]}} </p>
    <p>9: {{best_posts[8]}} </p>
    <p>10: {{best_posts[9]}} </p>
  </div>

  <div class = "bottom_posts">
    <h1> most dislkied posts</h1>
    <p>1: {{worst_posts[0]}} </p>
    <p>2: {{worst_posts[1]}} </p>
    <p>3: {{worst_posts[2]}} </p>
    <p>4: {{worst_posts[3]}} </p>
    <p>5: {{worst_posts[4]}} </p>
    <p>6: {{worst_posts[5]}} </p>
    <p>7: {{worst_posts[6]}} </p>
    <p>8: {{worst_posts[7]}} </p>
    <p>9: {{worst_posts[8]}} </p>
    <p>10: {{worst_posts[9]}} </p>
  </div>

</div>


{% endblock %}
