{% extends 'layout.html' %}

{% block content %}

<div class = "background_forms">

  <div class = "center">
    <div class = "search_form">
      <form method="POST">
        <input name="search_form">

        <input type = "checkbox" name ="title">
        <label for="title">title</label>


        <input type = "checkbox" name ="content">
        <label for="content"> content</label>

        <button type="submit" >filter</button>

      </form>

    </div>
    <div class = "form_create">
      <a href="/forms/create"> create a blog</a>
    </div>

    <div class="posts">


      {% for post in all_forms %}

      <div class = "post_container">
        <div class = "post_title">
            <u>{{post[3]}}</u>
        </div>
        <div class = "post_core">
          <p>{{post[2]}}</p>
        </div>
        <div class = "post_by">
          by {{post[1]}}
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
</div>


{% endblock %}
