{% extends 'layout.html' %}

{% block content %}

<div class = "gear_wrapper">
  <div class = "gear_img_home">
  </div>




  <a href="/gear_snowbinding" class = "snowbinding_container">
    <div class = "snowbinding_contents">
      <div class = "snowbindingimg">
      </div>
      <p>snowbindings</p>
    </div>
  </a>

  <a href="/gear_snowbaord" class = "snowbaord_container">
    <div class = "snowbaord_contents">
      <div class = "snowbaordimg">
      </div>
      <p>snowboard</p>
    </div>
  </a>

  <a href="/gear_clothes" class = "clothes_container">
    <div class = "clothes_contents">
      <div class = "clothesimg">
      </div>
      <p>clothes</p>
    </div>
  </a>

  <a href="/gear_snow_boots" class = "snowboots_container">
    <div class = "snowboots_contents">
      <div class = "snowbootsimg">
      </div>
      <p>snowboots</p>
    </div>
  </a>

</div>

<a name = shop></a>

{% endblock %}
