{% extends 'layout.html' %}

{% block content %}

<div class = "gear_wrapper">
  <div class = "gear_img">
    <div class = "gear_start">
      <a href="#shop" class = "writing_box_gear">
        <p> get started</p
      </a>
    </div>

  </div>


  <a href="/gear_snowbinding" class = "snowbinding_container">
    <div class = "snowbinding_contents">
    </div>
  </a>

  <a href="/gear_snowbaord" class = "snowbaord_container">
    <div class = "snowbinding_contents">
    </div>
  </a>

  <a href="/gear_clothes" class = "clothes_container">
    <div class = "snowbinding_contents">
    </div>
  </a>

  <a href="/gear_snow_boots" class = "snowboots_container">
    <div class = "snowbinding_contents">
    </div>
  </a>



</div>

<a name = shop></a>
{% endblock %}
