{% extends 'layout.html' %}

{% block content %}

<div class= "flex_container_gear">
  <div class = "search_gear_container">
    <div class = "search_bar_gear">
      <form method="POST">
        <input name="search_bar">
      </form>
    </div>

    <div class = filter_gear>
      <button class = "filter_btn">filter</button>
        <div class="filter_gear_items">
          <form method="POST">
            <h1> colour </h1>

            <input type = "checkbox" name ="yellow">
            <label for="yellow">yellow</label>

            <input type = "checkbox" name ="red">
            <label for="red">red</label>

            <input type = "checkbox" name ="green">
            <label for="green">green</label>

            <input type = "checkbox" name ="blue">
            <label for="blue">blue</label>

            <input type = "checkbox" name ="white">
            <label for="white">white</label>

            <input type = "checkbox" name ="black">
            <label for="black">black</label>

            <input type = "checkbox" name ="pink">
            <label for="pink">pink</label>

            <input type = "checkbox" name ="orange">
            <label for="orange">orange</label>

            <input type = "checkbox" name ="other">
            <label for="other">other</label>

            <h1> size </h1>

            <input type = "checkbox" name ="140">
            <label for="140">green</label>

            <input type = "checkbox" name ="142">
            <label for="142">blue</label>

            <input type = "checkbox" name ="144">
            <label for="144">white</label>

            <input type = "checkbox" name ="146">
            <label for="146">black</label>

            <input type = "checkbox" name ="148">
            <label for="148">pink</label>

            <h1> brand </h1>


          </form>
        </div>
    </div>
  </div>

  {% for post in clothes_r %}

  <a href="/gear_click?search_id={{post[1]}}&table={{post[2]}}" class = "gear_conatiner">
    <div class = "gear_img">
      <img src="/static/image/{{post[7]}}">
    </div>
    <div class="gear_name">
      <form method = "POST">
        <input type="text" name = "gear_individual" value = "{{post[1]}}">
      </form>
    </div>
  </a>


  {% endfor %}
</div>

{% endblock %}
