{% extends 'layout.html' %}

{% block content %}

<div class = "snowbaordtitle">
  <h1> Snowboots </h1>
</div>
<div class= "flex_container_gear">
  <div class = "search_gear_container">
    <div class = "search_bar_gear">
      <form method="POST">
        <p><b> Search: </b></p><input name="search_bar" placeholder = "search here...">
        <button type="submit" >filter</button>
      </form>
    </div>
  </div>

<div class = "filters">
  <form method="POST">

    {% for fil in filter %}
      <input type = "checkbox" id = "{{fil}}" name = "{{filter_options[fil]}}" ></input>
      <label for="{{filter_options[fil]}}">{{filter_options[fil]}}</label>
    {% endfor %}

    <button type="submit" >filter</button>


    </form>

</div>

{% for post in clothes_r %}

<a href="/gear_click?search_id={{post[0]}}&table={{post[2]}}" class = "gear_conatiner">
  <div class = "gear_img">
    <img src="/static/image_gear/{{post[7]}}">
  </div>
  <div class="gear_name">
    <p> {{post[1]}} </p>
  </div>
</a>


{% endfor %}

{% endblock %}
