{% extends 'layout.html' %}

{% block content %}
<a name = top></a>

<div class = "title_guide">
  <h1> snowbaording </h1>
  <p>learning how to snowbaord</p>
</div>

<div class = "guide_directory_container">
  <a href="#one" class = "guide_image_container_1">
    <div class = "guide_img_1">
    </div>
    <div class="writing_test">
      <p> fufejfef</p>
    </div>
  </a>

  <a href="#two" class = "guide_image_container_2">
    <div class = "guide_img_2">
    </div>
    <div class="writing_test_2">
      <p> fufejfef</p>
    </div>
  </a>

  <a href="#three" class = "guide_image_container_3">
    <div class = "guide_img_3">
    </div>
    <div class="writing_test_3">
      <p> fufejfef</p>
    </div>
  </a>

  <a href="#four" class = "guide_image_container_4">
    <div class = "guide_img_4">
    </div>
    <div class="writing_test_4">
      <p> fufejfef</p>
    </div>
  </a>

  <a href="#five" class = "guide_image_container_5">
    <div class = "guide_img_5">
    </div>
    <div class="writing_test_5">
      <p> fufejfef</p>
    </div>
  </a>

  <a href="#six" class = "guide_image_container_6">
    <div class = "guide_img_6">
    </div>
    <div class="writing_test_6">
      <p> fufejfef</p>
    </div>
  </a>
</div>

<div class = "guide_content_container">
  <div class = "one">
    <a name = one></a>

    <h1>1</h1>

    <a href="#top">Back to top</a>
  </div>

  <div class = "two">
    <a name = two></a>

    <h1>2</h1>

    <a href="#top">Back to top</a>
  </div>

  <div class = "three">
    <a name = three></a>

    <h1>3</h1>

    <a href="#top">Back to top</a>
  </div>

  <div class = "four">
    <a name = four></a>

    <h1>4</h1>

    <a href="#top">Back to top</a>
  </div>

  <div class = "five">
    <a name = five></a>

    <h1>5</h1>

    <a href="#top">Back to top</a>
  </div>

  <div class = "six">
    <a name = six></a>

    <h1>6</h1>

    <a href="#top">Back to top</a>
  </div>


  <a name = bottom></a>
</div>
{% endblock %}
