{% extends 'layout.html' %}

{% block content %}
<a name = top></a>

<div class = "title_guide">
  <h1> snowbaording </h1>
  <p>learning how to snowbaord</p>
</div>

<div class = "guide_directory_container">
  <a href="#one" class = "guide_image_container_1">
    <div class = "guide_img_1">
    </div>
    <div class="guide_img_writing_1">
      <p> How to strap in and stance. </p>
    </div>
  </a>

  <a href="#two" class = "guide_image_container_2">
    <div class = "guide_img_2">
    </div>
    <div class="guide_img_writing_2">
      <p> How to stop and turn:</p>
    </div>
  </a>

  <a href="#three" class = "guide_image_container_3">
    <div class = "guide_img_3">
    </div>
    <div class="guide_img_writing_3">
      <p> Balance tips:</p>
    </div>
  </a>

  <a href="#four" class = "guide_image_container_4">
    <div class = "guide_img_4">
    </div>
    <div class="guide_img_writing_4">
      <p> What to wear:</p>
    </div>
  </a>

  <a href="#five" class = "guide_image_container_5">
    <div class = "guide_img_5">
    </div>
    <div class="guide_img_writing_5">
      <p> How to use chairlift: </p>
    </div>
  </a>

  <a href="#six" class = "guide_image_container_6">
    <div class = "guide_img_6">
    </div>
    <div class="guide_img_writing_6">
      <p> Beginner tricks: </p>
    </div>
  </a>
</div>

<div class = "guide_content_container">
  <div class = "one">
    <a name = one></a>

    <h1>How to strap in and stance.</h1>

    <a href="#top">Back to top</a>
  </div>

  <div class = "two">
    <a name = two></a>

    <h1>How to stop and turn:</h1>
    <div class = "paragraph_1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id odio auctor, u
      ltrices mi ac, tincidunt nunc. Maecenas tortor dui, rutrum vitae arcu nec, f
      aucibus commodo est. Nullam sit amet mauris odio. Aliquam justo nisl, mattis a
       cursus vel, viverra ac nulla. Sed ut pharetra odio. Etiam facilisis lectus ve
       nisi gravida vehicula. Proin varius libero risus, eu dignissim lacus ultrices vel. V
       estibulum vitae ligula leo.
      </div>
    <a href="#top">Back to top</a>
  </div>

  <div class = "three">
    <a name = three></a>

    <h1>Balance tips:</h1>

    <a href="#top">Back to top</a>
  </div>

  <div class = "four">
    <a name = four></a>

    <h1>What to wear:</h1>

    <a href="#top">Back to top</a>
  </div>

  <div class = "five">
    <a name = five></a>

    <h1>How to use chairlift:</h1>

    <a href="#top">Back to top</a>
  </div>

  <div class = "six">
    <a name = six></a>

    <h1>Beginner tricks:</h1>

    <a href="#top">Back to top</a>
  </div>


  <a name = bottom></a>
</div>
{% endblock %}
