{% extends 'layout.html' %}

{% block content %}
<a name = top></a>

<div class = "title_guide">
  <h1> Snowbaording </h1>
  <p>Learning how to snowbaord.</p>
</div>

<div class = "guide_directory_container">
  <a href="#one" class = "guide_image_container_1">
    <div class = "guide_img_1">
    </div>
    <div class="guide_img_writing_1">
      <p> How to strap in and stance. </p>
    </div>
  </a>

  <a href="#two" class = "guide_image_container_2">
    <div class = "guide_img_2">
    </div>
    <div class="guide_img_writing_2">
      <p> How to stop and turn:</p>
    </div>
  </a>

  <a href="#three" class = "guide_image_container_3">
    <div class = "guide_img_3">
    </div>
    <div class="guide_img_writing_3">
      <p> Balance tips:</p>
    </div>
  </a>

  <a href="#four" class = "guide_image_container_4">
    <div class = "guide_img_4">
    </div>
    <div class="guide_img_writing_4">
      <p> What to wear:</p>
    </div>
  </a>

  <a href="#five" class = "guide_image_container_5">
    <div class = "guide_img_5">
    </div>
    <div class="guide_img_writing_5">
      <p> How to use chairlift: </p>
    </div>
  </a>

  <a href="#six" class = "guide_image_container_6">
    <div class = "guide_img_6">
    </div>
    <div class="guide_img_writing_6">
      <p> Beginner tricks: </p>
    </div>
  </a>
</div>

<div class = "guide_content_container">
  <div class = "strap">
    <a name = one></a>

    <h1>How to strap in and stance.</h1>
    <p>
      Find a flat piece of terrain and put your board down flat, base down.
      Make sure you keep a foot on it as snowboards have a tendency to run off
      on you. Start by strapping in your front foot. That's your:
      Left foot if you're Regular Right foot if you're GoofyGet all of
      your straps undone by lifting up the tabs on the buckles and pulling
      out the ladders. Remove any snow that may have accumulated in the footbed
      by wiping it out with your glove. If you don't, it can build up throughout
      the day and can make it difficulty to get your foot in all snuggly like.Get
      It In TherePlace your front foot into the binding with the back of the boot
      up against the highback.
    </p>
    <img src="/static/image_guide/straping2.jpg"><br>
    <a href="#top">Back to top</a>
  </div>

  <div class = "turning">
    <a name = two></a>

    <h1>How to stop and turn:</h1>
      <p>
      Understandably enough, one of the first things people
      want to know when they're learning how to snowboard is how to stop. First of all,
      it's not by sliding and sitting (or maybe slamming) on the ground. Stopping is
      a motion controlled by the heel- or toe-side edge of your board. Just as with
      getting up, there are two ways to stop. The easiest way to learn the first method
      is by doing it. Begin by standing on a gradual or beginner slope with your
      entire body facing downhill and your board across the incline. Stand with your
      knees bent, and stay low. Don't think about trying to turn yet. Concentrate on
      what edge control and stopping feel like. If you're standing on a slope, you
      will immediately begin sliding down the hill. Think about pressing your heels
      into the back of the board and lifting your toes very steadily off the ground.
      People always mess this up and completely flex the foot. It isn't about flexing;
      it's about pressing. Your board will be doing a lot of the work, but always
      remember you are the one in control. Now practice sliding downhill while remaining
      in that position, with your whole body and board perpendicular. Pressing your
      </p>
      <img src="/static/image_guide/turn.jpg"><br>
    <a href="#top">Back to top</a>
  </div>

  <div class = "Balance_tips">
    <a name = three></a>

    <h1>Balance tips:</h1>
    <p>
      One of the most common reasons for beginners falling, particularly on more
      difficult terrain, is that they aren’t bending their knees or they aren’t bending them enough.
      With bent knees (and I’m not talking about squatting here!) you will absorb any
      bumps much more effectively.Now, I’m not necessarily saying it’s a bad thing if
      you’re falling – it probably means you are improving – but you shouldn’t fall just
      because you are too upright – so make sure to keep those knees bent!
    </p>
    <img src="/static/image_guide/bal.jpg"><br>
    <a href="#top">Back to top</a>
  </div>

  <div class = "what_to_wear">
    <a name = four></a>

    <h1>What to wear:</h1>

    <h1>SOCKS</h1>
    <p>
      Look for good fabrics such as Merino Wool which is excellent at transporting
      moisture away from the skin to the outside of the sock. This results in a
      quicker dry time, and a dry sock delivers more warmth and comfort. Wool is
      superior compared to cotton socks. Cotton holds moisture against your skin
      which depletes warmth and increases friction causing blisters.
    </p>


    <h1>BASE LAYER</h1>
    <p>
      This is the insulating layer that helps regulate body temperature. As with
      socks, a wool base layer is recommended and will keep moisture away from your
      skin keeping you warm and dry. The main types of base layers include tops,
      bottoms, and the one piece. Depending on the conditions you’re riding in will
      determine what you need. Consider a light weight base layer for mild conditions
      and a midweight to heavyweight base for colder conditions.
    </p>

    <h1>IMPACT SHORTS</h1>
    <p>
      Wipe outs and bails are part of snowboarding and no matter if you are a
      beginner or pro it’s gonna happen. Invest in a good pair of impact shorts
      that will protect your hips, thighs, and tailbone. You are building layers
      and bulk when you dress for snowboarding, so it’s a good idea to look for
      lightweight and flexibility with a good amount of padding. Getting the right
      pair of crash shorts will help reduce the pain of bails and help keep you
      a bit warmer.
    </p>

    <h1>JACKET AND PANTS</h1>
    <p>
      Quality snowboard jackets and pants are determined by waterproofing and breathability.
      There are multiple levels of waterproofing and they are indicated in millimeters.
      For example, a 20k mm waterproof rating is recommended for really wet conditions,
      and a 5k mm recommended for a dry snow.However, jackets and pants are not
      completely waterproof since the fabric still needs to breathe. Think of
      waterproof as “Water Resistant” and will eventually leak given time, amount of
      water, and pressure. To allow breathability and waterproofing, there is a
      membrane that has small holes to keep water out and larger holes to let air
      in. This membrane can be affected by oils in the skin and lose efficiency
      in waterproofing. If you are looking for the next level in waterproofing
      there is Gortex but it is more expensive. When applied to the waterproof
      membrane, Gortex is superior at keeping moisture out and high breathability
      by resisting the oils in the skin.Look specifically for snowboard jackets,
      they tend to have a longer fit to help keep snow from creeping up your
      back or down your pants. Bib Pants are a great choice since they fit
      up to your shoulder blades, further preventing snow from creeping in.
    </p>
    <img src="/static/image_guide/gear.png"><br>
    <a href="#top">Back to top</a>
  </div>

  <div class = "chairlift">
    <a name = five></a>

    <h1>How to use chairlift:</h1>

    <p>As you approach a chair lift there is normally some kind of queuing system,
      enter the queue if there is one and patiently move with the queue towards
      the chair lift. As you are queuing take the pole straps off of your wrists.
      You will come to a set of gates, the gates open and close automatically,
      to let people through at the right time to get on the chair lift. When a
      gate opens only one person should go through each gate slot. As soon as the
      gates open, shuffle yourself through the gate and continue going forward
      until you get to the line that shows where your ski tips should be. Don't
      take too long to do this, as the gate will only stay open so long, and you
      only have so much time to get into position before the chair lift will
      arrive. Once you are on the line waiting for the chair to arrive, hold
      both your poles in one hand, and look over your shoulder to see the chair
      arriving. If it is an old lift, you might also want to put one hand out
      to stop the seat from hitting you in the legs too hard. As soon as the
      chair reaches you, sit down on it, lift your skis up gently, and let
      your skis slide off of the end of the platform. As soon as you are
      clear of the platform, pull the safety bar down, making sure that
      everyone on the lift is clear of it first, and rest your skis on the ski rest.
    </p>
      <img src="/static/image_guide/chair.jpeg"><br>
    <a href="#top">Back to top</a>
  </div>

  <div class = "tricks">
    <a name = six></a>

    <h1>Beginner tricks:</h1>

    <h1>Ollie</h1>
    <p>
      1.Scoot the board out in front of you (toward your nose) while flexing your back leg.<br>
      2.Pull your front leg up (your board should flex, creating pop) while springing off the back foot and tail of the board.<br>
      3.When in the air, flex both legs so the board becomes parallel with the ground.<br>
      4.Land with both feet at the same time, absorb the landing.<br>
    </p>


    <h1>Tail press</h1>
    <p>
      1. Shift your weight over the tail of your board by flexing your back leg and extending your front leg. Don’t lean back—shift your hips/center of mass over your back foot. You can also try scooting the board out from under you rather than moving over top of it.<br>

      2. With your center of mass over your back foot (and the tail of the board), the nose of the board should start to lift up.<br>

      3. Try this trick while stationary or on mellow terrain.<br>

      4. Keep your shoulders and arms in line with the board. It is common to open up, but this will make it harder to keep the board flat (not on edge) and to keep your balance.<br>
    </p>

    <h1>Nose press</h1>
    <p>
      1.Instead of shifting your weight over the tail, shift it forward over the nose and flex your front leg.<br>
      2.With your center of mass over your front foot (and the nose of your board), the tail of the board should start to lift up.<br>
      3.Again, try it while stationary a few times before trying it on mellow terrain. Practice finding the balance point so you can hold the press longer.<br>
    </p>
  <img src="/static/image_guide/trick.jpg"><br>
  </div>

</div>
{% endblock %}
