{% extends 'layout.html' %}

{% block content %}


<div class = "home_text_phone">
  <p>"I totally forget about snowboarding in the summertime." - Shaun White</p>
</div>
<div class = "img_phone">
</div>

<div class = "home_text_ipad">
  <p>"I totally forget about snowboarding in the summertime." - Shaun White</p>
</div>
<div class = "homeimg_ipad">
</div>

<div class = "homeimg_desktop">
  <div class = "home_text_desktop">
    <p>"I totally forget about snowboarding in the summertime." - Shaun White</p>
  </div>
</div>

{% endblock %}
