{% extends 'layout.html' %}

{% block content %}
  <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
     <script src="static/script/script.js"></script>
    </head>
    <body>

      <div class = "create_box">

        <div class = "sign_up_section">
          <h1> Sign up</h1>
          <form method="POST">
            <input name="create_name" required = "required" placeholder = "create username"><br>
            <input name="create_pass" required = "required" type="password" placeholder = "create password"><br>
            <input type="submit" class="button" formmethod = post value="create account"><br>
          </form>
        </div>

        <div class = "login_section">
          <h1> Login</h1>
          <form method="POST">
            <input name="name" required = "required" placeholder = "username"><br>
            <input name="pass" required = "required" placeholder = "password" type="password"><br>
            <input type="submit" class="button" formmethod = post value="login"><br>
          </form>
        </div>

      </div>


      <div class = "back">
        <button onclick="goBack()">Go Back</button>
      </div>
      <div class = "filler">
      </div>
    </body>
  </html>
{% endblock %}
