{% extends 'layout.html' %}

{% block content %}

<div class = "people_title">
  <h1> famous snowbaorders</h1>
</div>


{% for post in posts %}

<div class = "people_container">
  <div class = "people_post">
    <h1>{{post[0]}} {{post[1]}}</h1>
    <p> description {{post[2]}} </p>
    <p> {{post[3]}} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed tincidunt, nisi vitae sodales varius, eros velit egestas odio, id
      feugiat ipsum velit eget nisl. Vestibulum risus nisi, suscipit at neque
      sed, imperdiet laoreet dui. Fusce vehicula aliquet malesuada. Etiam sed
      pulvinar ligula, et placerat velit. Suspendisse dictum turpis vel pu
      rus posuere, a ultrices risus interdum. In eu consectetur nunc. Suspendis
      se potenti. Nullam viverra, neque nec efficitur bibendum, diam magna commodo
       ipsum, eget eleifend felis felis nec metus. Praesent congue mattis accumsa
       n. Nullam malesuada massa metus, ut consectetur ipsum consequat vitae. Pha
       sellus id libero ac odio pretium rhoncus. Donec nec justop</p>
  </div>
</div>

{% endfor %}

{% endblock %}
